
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {

	margin:0;

	padding:0;

	border:0;

	outline:0;

	font-size:100%;

	vertical-align:baseline;

	background:transparent

}

body {

	line-height:1

}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {

	display:block

}

nav ul {

	list-style:none

}

blockquote, q {

	quotes:none

}

blockquote:before, blockquote:after, q:before, q:after {

	content:'';

	content:none

}

a {

	margin:0;

	padding:0;

	font-size:100%;

	vertical-align:baseline;

	background:transparent

}

ins {

	background-color:#ff9;

	color:#000;

	text-decoration:none

}

mark {

	background-color:#ff9;

	color:#000;

	font-style:italic;

	font-weight:bold

}

del {

	text-decoration:line-through

}

abbr[title], dfn[title] {

	border-bottom:1px dotted;

	cursor:help

}

table {

	border-collapse:collapse;

	border-spacing:0

}

hr {

	display:block;

	height:1px;

	border:0;

	border-top:1px solid #ccc;

	margin:1em 0;

	padding:0

}

input, select {

	vertical-align:middle

}

#fancybox-loading {

	position:fixed;

	top:50%;

	left:50%;

	width:40px;

	height:40px;

	margin-top:-20px;

	margin-left:-20px;

	cursor:pointer;

	overflow:hidden;

	z-index:1104;

	display:none

}

#fancybox-loading div {

	position:absolute;

	top:0;

	left:0;

	width:40px;

	height:480px;

	background-image:url('../img/fancybox/fancybox.png')

}

#fancybox-overlay {

	position:absolute;

	top:0;

	left:0;

	width:100%;

	z-index:1100;

	display:none

}

#fancybox-tmp {

	padding:0;

	margin:0;

	border:0;

	overflow:auto;

	display:none

}

#fancybox-wrap {

	position:absolute;

	top:0;

	left:0;

	padding:20px;

	z-index:1101;

	outline:0;

	display:none

}

#fancybox-outer {

	position:relative;

	width:100%;

	height:100%;

	background:#e8e8e8

}

#fancybox-content {

	width:0;

	height:0;

	padding:0;

	outline:0;

	position:relative;

	overflow:hidden;

	z-index:1102;

	border:0 solid #fff

}

#fancybox-hide-sel-frame {

	position:absolute;

	top:0;

	left:0;

	width:100%;

	height:100%;

	background:transparent;

	z-index:1101

}

#fancybox-close {

	position:absolute;

	top:-15px;

	right:-15px;

	width:30px;

	height:30px;

	cursor:pointer;

	z-index:1103;

	display:none

}

#fancybox-error {

	color:#444;

	font:normal 12px/20px Arial;

	padding:14px;

	margin:0

}

#fancybox-img {

	width:100%;

	height:100%;

	padding:0;

	margin:0;

	border:0;

	outline:0;

	line-height:0;

	vertical-align:top

}

#fancybox-frame {

	width:100%;

	height:100%;

	border:0;

	display:block

}

#fancybox-left, #fancybox-right {

	position:absolute;

	bottom:0;

	height:100%;

	width:35%;

	cursor:pointer;

	outline:0;

	background:transparent url('../img/fancybox/blank.gif');

	z-index:1102;

	display:none

}

#fancybox-left {

	left:0

}

#fancybox-right {

	right:0

}

#fancybox-left-ico, #fancybox-right-ico {

	position:absolute;

	top:50%;

	left:-9999px;

	width:30px;

	height:30px;

	margin-top:-15px;

	cursor:pointer;

	z-index:1102;

	display:block

}

#fancybox-left-ico {

	background-image:url('../img/fancybox/fancybox.png');

	background-position:-40px -30px

}

#fancybox-right-ico {

	background-image:url('../img/fancybox/fancybox.png');

	background-position:-40px -60px

}

#fancybox-left:hover, #fancybox-right:hover {

	visibility:visible

}

#fancybox-left:hover span {

	left:20px

}

#fancybox-right:hover span {

	left:auto;

	right:20px

}

.fancybox-bg {

	position:absolute;

	padding:0;

	margin:0;

	border:0;

	width:20px;

	height:20px;

	z-index:1001

}

#fancybox-bg-n {

	top:-20px;

	left:0;

	width:100%;

	background-image:url('../img/fancybox/fancybox-x.png')

}

#fancybox-bg-ne {

	top:-20px;

	right:-20px;

	background-image:url('../img/fancybox/fancybox.png');

	background-position:-40px -162px

}

#fancybox-bg-e {

	top:0;

	right:-20px;

	height:100%;

	background-image:url('../img/fancybox/fancybox-y.png');

	background-position:-20px 0

}

#fancybox-bg-se {

	bottom:-20px;

	right:-20px;

	background-image:url('../img/fancybox/fancybox.png');

	background-position:-40px -182px

}

#fancybox-bg-s {

	bottom:-20px;

	left:0;

	width:100%;

	background-image:url('../img/fancybox/fancybox-x.png');

	background-position:0 -20px

}

#fancybox-bg-sw {

	bottom:-20px;

	left:-20px;

	background-image:url('../img/fancybox/fancybox.png');

	background-position:-40px -142px

}

#fancybox-bg-w {

	top:0;

	left:-20px;

	height:100%;

	background-image:url('../img/fancybox/fancybox-y.png')

}

#fancybox-bg-nw {

	top:-20px;

	left:-20px;

	background-image:url('../img/fancybox/fancybox.png');

	background-position:-40px -122px

}

#fancybox-title {

	font-family:Helvetica;

	font-size:12px;

	z-index:1102

}

.fancybox-title-inside {

	padding-bottom:10px;

	text-align:center;

	color:#333;

	background:#fff;

	position:relative

}

.fancybox-title-outside {

	padding-top:10px;

	color:#fff

}

.fancybox-title-over {

	position:absolute;

	bottom:0;

	left:0;

	color:#FFF;

	text-align:left

}

#fancybox-title-over {

	padding:10px;

	background-image:url('../img/fancybox/fancy_title_over.png');

	display:block

}

.fancybox-title-float {

	position:absolute;

	left:0;

	bottom:-20px;

	height:32px

}

#fancybox-title-float-wrap {

	border:0;

	border-collapse:collapse;

	width:auto

}

#fancybox-title-float-wrap td {

	border:0;

	white-space:nowrap

}

#fancybox-title-float-left {

	padding:0 0 0 15px;

	background:url('../img/fancybox/fancybox.png') -40px -90px no-repeat

}

#fancybox-title-float-main {

	color:#FFF;

	line-height:29px;

	font-weight:bold;

	padding:0 0 3px 0;

	background:url('../img/fancybox/fancybox-x.png') 0 -40px

}

#fancybox-title-float-right {

	padding:0 0 0 15px;

	background:url('../img/fancybox/fancybox.png') -55px -90px no-repeat

}

.fancybox-ie6 #fancybox-close {

	background:transparent;

	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_close.png', sizingMethod='scale')

}

.fancybox-ie6 #fancybox-left-ico {

	background:transparent;

	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_left.png', sizingMethod='scale')

}

.fancybox-ie6 #fancybox-right-ico {

	background:transparent;

	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_right.png', sizingMethod='scale')

}

.fancybox-ie6 #fancybox-title-over {

	background:transparent;

	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_over.png', sizingMethod='scale');

	zoom:1

}

.fancybox-ie6 #fancybox-title-float-left {

	background:transparent;

	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_left.png', sizingMethod='scale')

}

.fancybox-ie6 #fancybox-title-float-main {

	background:transparent;

	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_main.png', sizingMethod='scale')

}

.fancybox-ie6 #fancybox-title-float-right {

	background:transparent;

	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_right.png', sizingMethod='scale')

}

.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame {

	height:expression(this.parentNode.clientHeight+"px")

}

#fancybox-loading.fancybox-ie6 {

	position:absolute;

	margin-top:0;

	top:expression((-20+(document.documentElement.clientHeight ? document.documentElement.clientHeight/2:document.body.clientHeight/2)+(ignoreMe=document.documentElement.scrollTop ? document.documentElement.scrollTop:document.body.scrollTop))+'px')

}

#fancybox-loading.fancybox-ie6 div {

	background:transparent;

	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_loading.png', sizingMethod='scale')

}

.fancybox-ie .fancybox-bg {

	background:transparent!important

}

.fancybox-ie #fancybox-bg-n {

	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_n.png', sizingMethod='scale')

}

.fancybox-ie #fancybox-bg-ne {

	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_ne.png', sizingMethod='scale')

}

.fancybox-ie #fancybox-bg-e {

	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_e.png', sizingMethod='scale')

}

.fancybox-ie #fancybox-bg-se {

	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_se.png', sizingMethod='scale')

}

.fancybox-ie #fancybox-bg-s {

	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_s.png', sizingMethod='scale')

}

.fancybox-ie #fancybox-bg-sw {

	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_sw.png', sizingMethod='scale')

}

.fancybox-ie #fancybox-bg-w {

	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_w.png', sizingMethod='scale')

}

.fancybox-ie #fancybox-bg-nw {

	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_nw.png', sizingMethod='scale')

}

.innerglowDark {

	-webkit-box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.75);

	-moz-box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.75);

	box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.75)

}

.innerglowLight {

	-webkit-box-shadow:inset 0 0 5px #fff;

	-moz-box-shadow:inset 0 0 5px rgba(255, 255, 255, 0.75);

	box-shadow:inset 0 0 5px rgba(255, 255, 255, 0.75)

}

.shadowTile {

	-webkit-box-shadow:2px 2px 8px rgba(0, 0, 0, 0.86);

	-moz-box-shadow:2px 2px 8px rgba(0, 0, 0, 0.86);

	box-shadow:2px 2px 8px rgba(0, 0, 0, 0.86)

}

.shadowTitle {

	-webkit-box-shadow:0 5px 5px rgba(0, 0, 0, 0.5);

	-moz-box-shadow:0 5px 5px rgba(0, 0, 0, 0.5);

	box-shadow:0 5px 5px rgba(0, 0, 0, 0.5)

}

.shadowlineRight {

	-webkit-box-shadow:1px 0 0 #fff;

	-moz-box-shadow:1px 0 0 #fff;

	box-shadow:1px 0 0 #fff

}

.shadowlineBottom {

	-webkit-box-shadow:0 1px 0 #fff;

	-moz-box-shadow:0 1px 0 #fff;

	box-shadow:0 1px 0 #fff

}

.shadowlineBottomDark {

	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.1);

	-moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.1);

	box-shadow:0 1px 0 rgba(255, 255, 255, 0.1)

}

.shadowlineNone {

	-webkit-box-shadow:none;

	-moz-box-shadow:none;

	box-shadow:none

}

.textshadowWhite {

	text-shadow:1px 1px 0 rgba(255, 255, 255, 0.8)

}

h1, h3 {

	margin-bottom:15px

}

h1 {

	font-size:30px

}

h2 {

	font-size:24px;

	text-transform:uppercase

}

h3 {

	font-size:20px

}

p {

	font-family:Georgia, serif;

	font-size:14px;

	line-height:20px

}

p+p {

	margin-top:15px

}

a {

	color:#666;

	text-decoration:none

}

a:hover, a:active {

	color:#000

}

small {

	font-size:12px

}

pre {

	font-family:Georgia, serif;

	font-size:14px;

	line-height:20px;

	width:420px;

	white-space:pre-wrap;

	margin-top:-40px

}

nav {

	background:#232428;

	border-bottom:8px solid #232428;

	height:148px;

	overflow:hidden;

	position:fixed;

	top:0;

	left:0;

	width:100%;

	z-index:999

}

nav a {

	background:#CCC;

	cursor:pointer;

	display:block;

	float:left;

	margin-right:1px;

	height:148px;

	width:190px

}

#leaderboard {

	background:#a60c18;

	width:728px;

	height:90px;

	position:fixed;

	bottom:0;

	left:50%;

	margin:0 0 30px -364px;

	z-index:999;

	-webkit-box-shadow:2px 2px 8px rgba(0, 0, 0, 0.86);

	-moz-box-shadow:2px 2px 8px rgba(0, 0, 0, 0.86);

	box-shadow:2px 2px 8px rgba(0, 0, 0, 0.86)

}

body {

	background:#e8e8e8;

	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;

	overflow-x:hidden;

	margin:0 auto;

	padding-bottom:130px

}

input, select {

	border:1px solid #cbcbcb;

	color:#cbcbcb;

	padding:5px 8px;

	-moz-border-radius:3px;

	-webkit-border-radius:3px;

	border-radius:3px

}

input:hover, select:hover, input:active, select:active, input:focus, select:focus {

	color:#000

}

input[type="search"] {

	-webkit-appearance:textfield;

	padding:5px

}

video {

	background:#232428

}

.button {

	background:#e8e8e8;

	background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0.13, #d4d4d4), color-stop(0.57, #e1e1e1));

	background-image:-moz-linear-gradient(center bottom, #d4d4d4 13%, #e1e1e1 57%);

	border:1px solid #c5c5c5;

	color:#626262;

	clear:both;

	cursor:pointer;

	display:inline-block;

	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;

	font-size:16px;

	padding:5px 8px;

	text-align:center;

	-moz-border-radius:5px;

	-webkit-border-radius:5px;

	border-radius:5px;

	-webkit-box-shadow:inset 0 0 5px #fff;

	-moz-box-shadow:inset 0 0 5px rgba(255, 255, 255, 0.75);

	box-shadow:inset 0 0 5px rgba(255, 255, 255, 0.75)

}

.textshadowWhite .button:hover, .button:active, .button:focus {

	background:#c2c2c2;

	color:#626262

}

#locBar {

	display:none;

	background-color:#24467f;

	color:#FFF;

	padding:12px 12px 8px;

	overflow:hidden;

	background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #193367), color-stop(0.52, #395f93));

	background-image:-moz-linear-gradient(center bottom, #193367 0, #395f93 52%)

}

#locBar h2, #locBar small, #locBar form, #locBar .textbox {

	float:left

}

#locBar small {

	font-size:10px;

	margin:2px 0 0 10px;

	width:160px

}

#locBar input {

	margin-top:-1px;

	font-size:12px

}

#locBar .textbox {

	width:465px;

	margin-right:10px

}

.page {

	margin:15px 0;

	overflow:hidden

}

.page section {

	padding-bottom:15px;

	overflow:hidden;

	border-bottom:1px solid #c5c5c5;

	-webkit-box-shadow:0 1px 0 #fff;

	-moz-box-shadow:0 1px 0 #fff;

	box-shadow:0 1px 0 #fff

}

.page div section:last-child {

	border:0;

	-webkit-box-shadow:none;

	-moz-box-shadow:none;

	box-shadow:none

}

section+section {

	margin-top:15px

}

#columnLeft, #columnRight {

	float:left;

	padding:0 12px

}

#columnLeft .button, #columnRight .button {

	margin-top:15px;

	display:block;

	padding:10px 15px

}

#columnLeft {

	width:420px;

	border-right:1px solid #c5c5c5;

	-webkit-box-shadow:1px 0 0 #fff;

	-moz-box-shadow:1px 0 0 #fff;

	box-shadow:1px 0 0 #fff

}

.colHalf #column2, .colHalf #column3 {

	overflow:hidden;

	width:262px

}

.colHalf #column2 {

	float:left;

	padding-right:12px;

	border-right:1px solid #c5c5c5;

	-webkit-box-shadow:1px 0 0 #fff;

	-moz-box-shadow:1px 0 0 #fff;

	box-shadow:1px 0 0 #fff

}

.colHalf #column3 {

	float:right;

	padding-left:12px

}

.colFull {

	width:540px

}

.imgMaxsize {

	width:420px;

	height:auto

}

footer {

	text-align:center

}

.wu-poweredby {

	display:none

}

#radars {

	margin:15px 6px;

	width:996px

}

#radars a {

	display:block;

	float:left;

	border:0;

	border-right:1px solid #c5c5c5;

	overflow:hidden;

	margin:0;

	padding:0 6px;

	width:235px;

	-webkit-box-shadow:1px 0 0 #fff;

	-moz-box-shadow:1px 0 0 #fff;

	box-shadow:1px 0 0 #fff

}

#radars a:nth-child(4n) {

	border:0;

	-webkit-box-shadow:none;

	-moz-box-shadow:none;

	box-shadow:none

}

figure {

	display:block;

	position:relative;

	float:left;

	overflow:hidden;

	margin-bottom:15px

}

figure img {

	background:url(../img/loading.gif) center center no-repeat;

	border:1px solid #bab9b8;

	width:235px;

	height:175px;

	display:block

}

figcaption {

	font-size:22px;

	font-weight:bold;

	position:absolute;

	bottom:0;

	left:0;

	background:rgba(255, 255, 255, 0.8);

	color:#000;

	margin:1px;

	padding:10px;

	opacity:1;

	width:215px

}

#fancybox-wrap {

	z-index:9999;

	margin-top:-10%

}

#fancybox-title {

	background:#e8e8e8;

	overflow:hidden;

	top:0;

	bottom:auto;

	height:30px;

	padding-bottom:5px;

	-webkit-box-shadow:0 5px 5px rgba(0, 0, 0, 0.5);

	-moz-box-shadow:0 5px 5px rgba(0, 0, 0, 0.5);

	box-shadow:0 5px 5px rgba(0, 0, 0, 0.5)

}

#fancybox-title span {

	display:inline-block;

	font-size:18px;

	font-weight:bold;

	color:#000;

	text-align:center;

	width:73%;

	margin:8px auto 0

}

#fancybox-title .button {

	margin-top:-5px;

	padding-top:10px

}

#lightboxClose {

	float:left;

	margin-left:15px

}

#lightboxAnim {

	float:right;

	margin-right:15px

}

#fancybox-img {

	margin-top:35px

}

#conditions {

	font-size:11px

}

#conditions li {

	list-style:none

}

#wu_metrics {

	float:left;

	width:50%

}

.wu_temp {

	font-size:46px;

	font-weight:bold;

	margin-bottom:5px

}

.wu_sky {

	font-weight:bold;

	font-size:12px;

	line-height:16px

}

#wu_details {

	float:right;

	font-size:12px;

	line-height:16px;

	text-align:right;

	width:50%

}

#wu_details li {

	float:right

}

#almanacList li {

	border-bottom:1px dotted #CCC;

	clear:left;

	display:block;

	margin-bottom:10px;

	overflow:hidden;

	padding-left:100px

}

#almanacList p {

	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;

	float:left

}

#almanacList p+p {

	margin:0 0 10px 0;

	float:right

}

#almanacList span {

	display:block;

	text-align:center

}

.almanacSmall {

	font-size:9px;

	font-weight:bold;

	line-height:14px

}

.almanacLarge {

	font-size:42px;

	font-weight:bold;

	line-height:45px

}

.timeLarge {

	font-size:18px;

	font-weight:bold;

	line-height:24px

}

#wu_temperature {

	background:url(http://www.belo.bimedia.net/shared-images/wunderground/redesign_mockup/img/icon_temp.png) no-repeat left top

}

#wu_calendar {

	background:url(http://www.belo.bimedia.net/shared-images/wunderground/redesign_mockup/img/icon_calendar.png) no-repeat left top;

	height:85px

}

#wu_time {

	background:url(http://www.belo.bimedia.net/shared-images/wunderground/redesign_mockup/img/icon_clock.png) no-repeat left -5px;

	height:50px

}

.wu-sunandmoonrow {

	overflow:hidden;

	font-size:10px;

	font-weight:bold;

	line-height:14px

}

.wu-sunandmoonrow li {

	float:left;

	list-style:none;

	text-align:center;

	width:48px;

	margin-right:4px

}

.wx-sunandmoonday {

	display:block

}

#pollution div {

	margin:5px 0;

	overflow:hidden

}

#pollution div+div {

	border-top:1px dotted #CCC;

	padding-top:10px

}

#pollution h4 {

	float:left;

	font-size:42px;

	margin-top:-2px;

	text-transform:uppercase

}

#pollution span {

	display:block;

	float:right;

	clear:right;

	font-size:12px;

	line-height:18px;

	text-align:right

}

#pollution .current {

	font-size:24px!important;

	position:absolute

}

#alerts {

	font-family:Georgia, serif;

	font-size:14px;

	line-height:20px

}

#alerts #alertBox {

	overflow:hidden;

	padding-bottom:5px;

	border-bottom:1px dotted #CCC

}

#alerts .button {

	margin:15px 0

}

.modal {

	background:#232428;

	margin:35px 0 0;

	padding:0;

	height:555px;

	width:745px

}

#modalContent {

	background:#FFF;

	float:left;

	height:540px;

	width:395px;

	padding:0 15px 15px 15px;

	overflow-y:auto

}

#modalContent h3 {

	margin-top:15px

}

#modalContent section {

	display:none

}

#modalSidebar {

	color:#646464;

	float:right;

	width:300px;

	padding:10px;

	overflow-y:auto

}

#modalSidebar h3 {

	border-bottom:rgba(0, 0, 0, 0.7);

	font-weight:normal;

	font-size:14px;

	padding-bottom:15px;

	margin-bottom:15px;

	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.1);

	-moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.1);

	box-shadow:0 1px 0 rgba(255, 255, 255, 0.1)

}

#modalSidebar li {

	cursor:pointer;

	display:block;

	font-size:12px;

	line-height:40px

}

#modalSidebar li:hover {

	color:#FFF

}

#modalSidebar .active {

	background:#121212;

	color:#FFF;

	padding:0 10px;

	margin:0 -10px

}

#modalSidebar .active:before {

	content:"Â« "

}

#hourForecast div {

	overflow:hidden;

	width:100%

}

#hourForecast div+div {

	border-top:1px dotted #CCC;

	padding-top:10px

}

#hourForecast h4 {

	float:left;

	font-size:27px;

	margin-top:-2px;

	text-transform:uppercase;

	width:125px

}

#hourForecast img {

	float:left;

	left:100;

	width:50px;

	height:50px

}

#hourForecast div p {

	float:right;

	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;

	padding-top:4px

}

#hourForecast div p strong, #hourForecast div p small {

	display:block;

	float:right;

	clear:right;

	font-size:12px;

	line-height:18px;

	text-align:right

}

#hourForecast div p strong {

	font-size:24px

}

#hourForecast div p small {

	font-size:9px

}

#dayForecast div {

	margin:5px 0;

	overflow:hidden;

	width:100%

}

#dayForecast div+div {

	border-top:1px dotted #CCC;

	padding-top:10px

}

#dayForecast img {

	float:left;

	left:100;

	margin-bottom:-8px

}

#dayForecast h4 {

	float:right;

	font-size:24px;

	text-transform:uppercase;

	margin-top:10px

}

#dayForecast div span, #dayForecast div small {

	display:block;

	float:right;

	clear:right;

	font-size:12px;

	line-height:16px;

	text-align:right

}

#dayForecast div span {

	font-size:16px

}

#dayForecast div small {

	font-size:10px

}

#extForecast div {

	overflow:hidden;

	padding:8px 0

}

#extForecast img {

	float:left;

	height:50px;

	width:50px

}

#extForecast span {

	display:block;

	float:right;

	width:75%

}

#personalStations div {

	margin:5px 0;

	overflow:hidden;

	width:100%

}

#personalStations div+div {

	border-top:1px dotted #CCC;

	padding-top:10px

}

#personalStations h3 {

	font-size:16px;

	line-height:20px

}

#personalStations h4 {

	float:left;

	font-size:30px;

	text-transform:uppercase;

	width:100px

}

#personalStations small {

	font-size:10px

}

#personalStations ul {

	float:right;

	display:block;

	width:420px;

	overflow:hidden;

	padding-left:20px

}

#personalStations li {

	float:left;

	font-size:12px;

	line-height:20px;

	list-style:none;

	width:130px;

	margin-right:5px

}

#personalStations .button {

	margin:0

}

@media(max-width:1024px) {

	body {

		width:1024px

	}

}

@media(max-width:768px) {

	body {

		width:768px

	}

	#locBar .textbox {

		width:195px

	}

	.colHalf #column2, .colHalf #column3 {

		overflow:hidden;

		float:none;

		padding:0;

		border:0;

		width:290px

	}

	.colHalf #column2 {

		-webkit-box-shadow:none;

		-moz-box-shadow:none;

		box-shadow:none

	}

	.colHalf #column2:after {

		border:0

	}

	.colHalf #column3 {

		padding-top:12px

	}

	.colFull {

		width:284px

	}

	.wu-sunandmoonrow li {

		margin-right:10px

	}

	#extForecast {

		display:none

	}

	#personalStations ul {

		width:150px

	}

	#radars {

		margin:15px 6px;

		width:744px

	}

	#radars a:nth-child(4n) {

		border-right:1px solid #c5c5c5;

		-webkit-box-shadow:1px 0 0 #fff;

		-moz-box-shadow:1px 0 0 #fff;

		box-shadow:1px 0 0 #fff

	}

	#radars a:nth-child(3n) {

		border:0;

		-webkit-box-shadow:none;

		-moz-box-shadow:none;

		box-shadow:none

	}

}

#singleImage {

	margin:15px 6px

}